{% extends "layouts/base1.html" %}

{% block title %} Profile {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<div class="page-inner mt-5">
    <div class="page-header mt-5">
        <div class="container">
            <div class="content">
                <div class="page-inner text-center">
                    {% csrf_token %}

                    {% if request.user.empprofile_set.all.0.profile_image %}
                    <div class="card card-stats card-info card-round">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-5">
                                    <div class="icon-big text-center">
                                        <i class="flaticon-interface-6"></i>
                                    </div>
                                </div>
                                <div class="col-7 col-stats">
                                    <div class="numbers">
                                        
                                        <h8 class="card-title">You are all set with your profile</h8>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <form method="POST" action="/image_upload/" enctype="multipart/form-data">
                        
                        <div class="card card-stats card-info card-round">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-5">
                                        <div class="icon-big text-center">
                                            <i class="flaticon-interface-6"></i>
                                        </div>
                                    </div>
                                    <div class="col-7 col-stats">
                                        <div class="numbers">
                                            
                                            <h8 class="card-title">Fill in the details to complete profile</h8>
                                            
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        {% csrf_token %}
                         
                        <div class="form-group form-control">
                            <input type="file" name="emp_img" id="imgInp" required>
                            <img id="blah" height="auto" width="100px" />
                        </div>
                        <div class="">
                            <button type="submit" class="btn btn-primary mt-3">UPLOAD</button>
                        </div>
                        
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-left: 80px;margin-right: 80px;">
    
    <div class="col col-6" style="padding-left: 30px;padding-right: 30px;left: 10px;">
        <div class="card card-profile">
            <div class="card-header" style="background-image: url('/static/assets/img/blogpost.jpg')">
                <div class="profile-picture">
                    <div class="avatar avatar-xl">
                        {% if request.user.empattendance_set.all|length %}
                            <img src="{{request.user.empattendance_set.all.last.uploaded_pic.url}}" alt="..." class="avatar-img rounded-circle">
                        {% else %}
                            {% if request.user.empprofile_set.all.0.profile_image %}
                                <img src="{{request.user.empprofile_set.all.0.profile_image.url}}" alt="..." class="avatar-img rounded-circle">
                            {% else %}
                                <img src="/static/assets/img/profile.jpg" alt="..." class="avatar-img rounded-circle">
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="user-profile text-center">
                    <div class="name">{{request.user.first_name}}</div>
                    <div class="job">{{request.user.first_name}} {{request.user.last_name}}</div>
                    <div class="desc">A man who hates loneliness</div>
                    <div class="social-media">
                        <a class="btn btn-info btn-twitter btn-sm btn-link" href="#"> 
                            <span class="btn-label just-icon"><i class="flaticon-twitter"></i> </span>
                        </a>
                        <a class="btn btn-danger btn-sm btn-link" rel="publisher" href="#"> 
                            <span class="btn-label just-icon"><i class="flaticon-google-plus"></i> </span> 
                        </a>
                        <a class="btn btn-primary btn-sm btn-link" rel="publisher" href="#"> 
                            <span class="btn-label just-icon"><i class="flaticon-facebook"></i> </span> 
                        </a>
                        <a class="btn btn-danger btn-sm btn-link" rel="publisher" href="#"> 
                            <span class="btn-label just-icon"><i class="flaticon-dribbble"></i> </span> 
                        </a>
                    </div>
                    <div class="view-profile">
                        <a href="#" class="btn btn-secondary btn-block">View Attendance History</a>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row user-stats text-center">
                    <div class="col">
                        <div class="number">{{request.user.empattendance_set.all|length}}</div>
                        <div class="title">Days Attended</div>
                    </div>
                    <div class="col">
                        <div class="number">25K</div>
                        <div class="title">Followers</div>
                    </div>
                    <div class="col">
                        <div class="number">134</div>
                        <div class="title">Following</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card full-height">
            <div class="card-body">
                <div class="card-title">Overall statistics</div>
                <div class="card-category">Attendance stats</div>
                <div class="d-flex flex-wrap justify-content-around pb-2 pt-4">
                    <div class="px-2 pb-2 pb-md-0 text-center">
                        <div id="circles-1"></div>
                        <h6 class="fw-bold mt-3 mb-0">Target</h6>
                    </div>
                    <div class="px-2 pb-2 pb-md-0 text-center">
                        <div id="circles-2"></div>
                        <h6 class="fw-bold mt-3 mb-0">Streaks</h6>
                    </div>
                    <div class="px-2 pb-2 pb-md-0 text-center">
                        <div id="circles-3"></div>
                        <h6 class="fw-bold mt-3 mb-0">Absent</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

</div>




<!-- Emplyee Card -->


<div class="row">
{% for attn in request.user.empattendance_set.all %}
    <div class="col-md-2">
        <div class="card card-profile">
            <div class="card-header">
                <div class="profile-picture">
                    <div class="avatar avatar-xl">
                        <img src="{{attn.uploaded_pic.url}}" alt="..." class="avatar-img rounded-circle">
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="user-profile text-center">
                    <div class="name">{{attn.date_taken}}</div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>


{% endblock content %}


<!-- Specific JS goes HERE -->
{% block javascripts %}
<script>
    Circles.create({
			id:'circles-1',
			radius:45,
			value:"request.user.empattendance_set.all|length",
			maxValue:100,
			width:7,
			text:2,
			colors:['#f1f1f1', '#FF9E27'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})

		Circles.create({
			id:'circles-2',
			radius:45,
			value:50,
			maxValue:100,
			width:7,
			text: 50+"%",
			colors:['#f1f1f1', '#2BB930'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})

		Circles.create({
			id:'circles-3',
			radius:45,
			value:3-"{{request.user.empattendance_set.all|length}}",
			maxValue:100,
			width:7,
			text: 3-"{{request.user.empattendance_set.all|length}}",
			colors:['#f1f1f1', '#F25961'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})
    imgInp.onchange = evt => {
    const [file] = imgInp.files
    console.log("asila")
    if (file) {
        blah.src = URL.createObjectURL(file)
    }
    }
</script>

{% endblock javascripts %}