<!-- Sidebar -->
<div class="sidebar sidebar-style-2 sidebarBG"> 	
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">

        {% if request.user.is_authenticated %}	
            <div class="user">
                <div class="avatar-sm float-left mr-2">
                    {% if request.user.empprofile_set.all.0.profile_image %}
                    <img src="{{request.user.empprofile_set.all.0.profile_image.url}}" alt="..." class="avatar-img rounded-circle">
                    {% else %}
                    <img src="/static/assets/img/profile.jpg" alt="..." class="avatar-img rounded-circle">
                    {% endif %}
                </div>
                <div class="info">
                   
                    <a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                        <span>
                            {{ request.user.username }}
                            {{request.user}}
                            <span class="user-level">
                                {{ request.user.email }}
                            </span>
                            <span class="caret"></span>
                        </span>
                    </a>
                    <div class="clearfix"></div>

                    <div class="collapse in" id="collapseExample">
                        <ul class="nav">
                            <li>
                                <a href="/logout/">
                                    <span class="link-collapse">Logout</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
          
            <ul class="nav nav-primary">
                <li class="nav-item {% if 'index' in segment %} active {% endif %}">
                    <a  href="/profile/">
                        <i class="fas fa-home"></i>
                        <p>Profile</p>
                    </a>

                    <a  href="/attendance/">
                        <i class="fas fa-chart-bar"></i>
                        <p>Attendance</p>
                    </a>

                    <a  href="/groupattendance/">
                        <i class="fas fa-chart-bar"></i>
                        <p>Group Attendance</p>
                    </a>
                    <!-- <a  href="/analyse/">
                        <i class="fas fa-question"></i>
                        <p>Analyse</p>
                    </a>
                    <a  href="/insights/">
                        <i class="fas fa-chart-bar"></i>
                        <p>Insights</p>
                    </a>
                    <a  href="/ecze_image/">
                        <i class="fas fa-camera"></i>
                        <p>EczeImage</p>
                    </a>
                    <a  href="/triggers/">
                        <i class="fas fa-hospital"></i>
                        <p>Triggers</p>
                    </a>
                    <a  href="/request_appointment/">
                        <i class="fas fa-user"></i>
                        <p>Meet Your Doc</p>
                    </a> -->
                </li> 
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                </li>
                <li class="mx-4 mt-2">
                    <a target="_blank"
                        href="https://github.com/adyashajena-26/Project-Oculus" 
                        class="btn btn-block github-btn">
                        <span class="btn-label mr-2 "> <i class="fab fa-github"></i> </span>Github Repository</a> 
                </li>
            </ul>
          {% else %}
            <ul class="nav nav-primary">
                <li class="mx-4 mt-2">
                    <a href="/login/"
                        class="btn btn-danger btn-block">
                        <span class="btn-label mr-2"> <i class="fa fa-user-plus"></i> </span>LOGIN</a> 
                </li>
                <li class="mx-4 mt-2">
                    <a href="/register/" 
                        class="btn btn-danger btn-block">
                        <span class="btn-label mr-2"> <i class="fa fa-user-plus"></i> </span>SIGN UP</a> 
                </li>
            </ul>
         
      
        {% endif %}	
        </div>
    </div>
</div>
<!-- End Sidebar -->
